# import package

In [2]:
import os
import pandas as pd
import numpy as np
from collections import defaultdict
import seaborn as sns

# Apply the default theme
sns.set_style("whitegrid")
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif'] = ['Microsoft JhengHei'] 
plt.rcParams['axes.unicode_minus'] = False

# read data
time series data

In [10]:
df = pd.read_csv("data/ads.csv",index_col='日期',parse_dates=True)
df.index  = pd.to_datetime(df.index,format="%Y年%m月%d日")

df.head()

            FB IMP  FB Clicks  FB Spending   GDN IMP  GDN Clicks  GDN Spending
日期
2018-06-01   56990       1398         3913  104224.0       358.0   1106.163631
2018-06-02   51023       1245         4699  127222.0       404.0   1005.577744
2018-06-03   51205       1240         4682  113703.0       348.0    865.566598
2018-06-04   53377       1338         4769   77122.0       358.0    880.166752
2018-06-05   51903       1239         4753  122233.0       494.0   1218.975700

# get missing value

In [11]:
def get_missing_date(df,start_date = None,end_date = None):
    '''get missing dates of dataframe in the specified data range，
    if not specified, earliest date and latest date in default
    '''
    
    if not start_date:
        start_date = min(df.index)
    if not end_date:
        end_date = max(df.index)
        
    date_index = pd.date_range(start=start_date,end=end_date)
    missing_date = []
    for date in date_index:
        if(date not in df.index):
            missing_date.append(date)
    return missing_date

missing_date = get_missing_date(df,start_date='2018-06-01',end_date='2018-6-30')
print(missing_date)

[Timestamp('2018-06-27 00:00:00', freq='D')]

In [12]:
def get_missing_count_by_month(df):
    times = []
    missing_df = defaultdict(list)
    years = np.unique(df.index.year)
    months = np.unique(df.index.month)
    for y in years:
        for m in months:
            times.append(f"{y}/{m}")
            the_month_df = df[(df.index.year==y) & (df.index.month==m)]
            for col in df.columns:
                missing_count = the_month_df[col].isnull().sum()
                missing_df[col].append(missing_count)
    missing_df = pd.DataFrame(missing_df)
    missing_df.insert(0,"Month",times)
    return missing_df

missing_df = get_missing_count_by_month(df)
print(missing_df)

   FB IMP  FB Clicks  FB Spending  GDN IMP  GDN Clicks  GDN Spending   Month
0       0          0            0        4           4             4  2018/6